@import url("https://fonts.googleapis.com/css2?family=Jockey+One&family=Jolly+Lodger&display=swap");
body {
  margin: 0;
  background-color: #dddde8;
  box-sizing: border-box;
  font-family: "Jockey One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
